* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1rem;
}

main {
  width: 400px;
  height: 400px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  row-gap: 1em;
}

.die {
  height: 35px;
  width: 35px;
  color: #2B283A;
  font-weight: 700;
  font-size: 1.3rem;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px #000;

}